@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@import "./colors.css";
@import "./spacing.css";
@import "./radius.css";
@import "./opacity.css";
@import "./border.css";
@import "./typography.css";
@import "./icon.css";
@import "./text-styles.css";
@import "@daypicker/react/style.css";

#root ,body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg-primary);
  min-height: 100dvh;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--color-input-default) inset;
  -webkit-text-fill-color: var(--color-text-primary);
}